<%= form_with url: "reports/report", method: :get do |form| %>

    <div>
        <%= form.label "Data start", style: "display: inline-flex" %>
        <%= form.date_field :date_start %>
    </div>
  
    <div>
        <%= form.label "Data end", style: "display: inline-flex" %>
        <%= form.date_field :date_end %>
    </div>

    <div>
        <%= form.label :description, style: "display: inline-flex" %>
        <%= form.text_field :description, placeholder: "Enter description" %>
    </div>

    <div>
        <%= form.label :category_id, style: "display: inline-flex" %>
        <%= form.collection_select :category_id, Category.order(:name), :id, :name, :prompt => "Select a category" %>
    </div>
  
    <div>
        <%= submit_tag "Report by date", class: "btn btn-primary", value: "date" %>
        <%= submit_tag "Report by category", class: "btn btn-primary", value: "category" %>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
  
<% end %>
  